.password {
    .main {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        padding: 20px;
        .inputGroup {
            width: 49%;
            label {
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 5px;
                display: block;
            }

            input {
                width: 100%;
                padding: 7px 10px;
                border: 1px solid #818181;
                border-radius: 20px;
                outline: none;
            }
        }
    }
    .control {
        padding: 10px 20px 20px 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 10px;
        button {
            border: none;
            font-size: 16px;
            padding: 7px 20px;
            border-radius: 8px;
            background: #fff;
        }
        .edit {
            color: #fff;
            background: #216491;
        }
    }
}
