.auth {
  padding: 40px 15px;
  margin: 0 auto;
  max-width: 350px;
  width: 95%;
  .img {
    margin: 0 auto 24px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    img {
      width: 40px;
      height: auto;
      display: block;
    }
    span {
      font-weight: 600;
      font-size: 30px;
      background: linear-gradient(to left, #c68f22, #daaf69);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 16px;
  }
}
