.noticeModal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  .box {
    max-width: 400px;
    width: 80%;
    margin: 20vh auto 0;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    .title {
      padding: 15px 20px;
      color: #fff;
      text-align: center;
      background: linear-gradient(45deg, #3481aa, #489bc7);
      font-size: 22px;
    }
    .content {
      padding: 25px 15px;
      text-align: center;
      font-size: 18px;
    }
    .btn {
      text-align: center;
      padding: 0 20px 25px;
      display: flex;
      justify-content: center;
      gap: 10px;
      button {
        font-size: 16px;
        color: #3481aa;
        border: 1px solid #3481aa;
        background: #fff;
        padding: 5px 20px;
        border-radius: 20px;
        transition: all 0.2s linear;
        &:hover {
          background: #3481aa;
          color: #fff;
        }
      }
    }
  }
}
