.forgotPassword {
  color: #1f1328;
  .form {
    padding: 16px;
    font-size: 14px;
    border-top: 1px solid #d8dee4;
    border-radius: 6px;
    background-color: #f6f8fa;
    border: 1px solid #d8dee4;
  }
  .input {
    margin-bottom: 16px;
    label {
      margin-bottom: 8px;
      display: flex;
      justify-content: space-between;
      a {
        color: #216491;
        text-decoration: none;
      }
    }
    input {
      width: 100%;
      padding: 5px 12px;
      line-height: 20px;
      font-size: 14px;
      border-radius: 6px;
      border: 1px solid #d0d7de;
    }
  }
  .btn {
    button {
      width: 100%;
      padding: 8px 10px;
      border: none;
      border-radius: 6px;
      background: #1d80b6;
      color: #fff;
      font-size: 14px;
      transition: all 0.1s linear;
      &:hover {
        background: #216491;
      }
    }
  }
  .register {
    margin-top: 16px;
    a {
      display: block;
      color: #216491;
      border: 1px solid #216491;
      text-decoration: none;
      padding: 10px;
      text-align: center;
      border: 1px solid #d8dee4;
      border-radius: 6px;
      font-size: 14px;
      transition: all 0.1s linear;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
