.search {
    max-width: 300px;
    width: 50%;
    display: flex;
    align-items: center;
    background: #fff;
    padding-right: 3px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow:
        0 1px 1px rgba(9, 30, 66, 0.251),
        0 0 1px rgba(9, 30, 66, 0.31);
    input {
        border: none;
        width: 100%;
        padding: 8px 10px;
    }
    i {
        cursor: pointer;
        display: block;
        max-width: 25px;
        min-width: 25px;
        font-size: 16px;
    }
}
